/*body{
    background-image: url(download.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}*/

/* STYLING THE HEADER*/
#header{
    left: 250px;
    text-align: center;
    position: absolute;
    text-shadow: blue;
    width: 900px;
    height: 350px;
    color: rgb(64, 255, 0);
    font-style: italic;
    font-weight: normal;
    -webkit-text-size-adjust: 50%;
    top: 50px;
}
 /*STYLING CLASS CONTAINER*/
.container{
         margin-left: 5px;
         margin-top: 140px;
         display: flex;
         justify-content: space-around;
         background-color: brown;
         color: burlywood;
}
/*STYLING P IN CONTAINER*/
.container>p{
    border: 4px;
    width: 100px;
    height: 20px;
}
/*INTRODUCING HOVER*/
.container>p:hover{
    background-color: black;
    color: ivory;
}
#properties{
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    opacity: 2;
}
/*STYLING ALL HEADINGS 2*/
h2{
    background-color: grey;
    opacity: 1;
    margin-top: 20px;
    text-align: center;
    color: ivory;
}
#contacts{
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    height: 350;
    float: left;
    }
.categories h2 p{
    font-weight: 400;
}
p{
    font-size: 19px;
    text-size-adjust: 30px;
}
li{
    font-size: 19px;
    position: relative;
}

    

